@using Microsoft.AspNetCore.Authentication
@using modelo_core_mvc.Errors;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var nomeExibicao = "Não autenticado";
    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];
    }
}

@{
    ViewData["Title"] = "Sefaz-SP";
}
<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Home" asp-action="Sair">Sair</a></li>
    </ol>
</div>
<section>
    <h1>Usuário autenticado:</h1>
    @if (Configuration["identity:type"] == "azuread")
    {
        <div>
            <p>
                Token: @ViewData["token"]
            </p>
            <p>Html</p>
            @Html.Raw(@ViewData["html"])
        </div>
    }
    else
    {
        <div>
            <h2>@nomeExibicao </h2>
            <p>Login: @ViewData["Login"]</p>
            <p>Cpf: @ViewData["Cpf"]</p>
            <p>Nascimento: @ViewData["Nascimento"]</p>
        </div>
    }

</section>