@using Microsoft.AspNetCore.Authentication
@using SefazIdentity.Errors;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var nomeExibicao = "Não autenticado";
    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];
    }
}

@{
    ViewData["Title"] = "Sefaz-SP";
}
<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Home" asp-action="Sair">Sair</a></li>
    </ol>
</div>
<section>
    <h1>Usuário autenticado:</h1>
    <p></p>
    <h2>@nomeExibicao </h2>

    @if (Configuration["identity:type"] == "azuread")
    {
        <h1>Adaptive card:</h1>

        <div class="login">
            <mgt-msal2-provider client-id="@Configuration["AzureAd:ClientId"]"></mgt-msal2-provider>
            <mgt-login></mgt-login>
        </div>

        <p>User Id: @ViewData["id"]</p>
        <div class="mgt-person">
            Card com Id:
            <p>
                <mgt-person user-id="@ViewData["id"]" view="twoLines"></mgt-person>
            </p>
            Card com hover:
            <p>
                <mgt-person class="my-person" view="twoLines" line2-property="title" person-card="hover" fetch-image> </mgt-person>
            </p>
        </div>
    }
    else
    {
        <p>Login: @ViewData["Login"]</p>
        <p>Cpf: @ViewData["Cpf"]</p>
        <p>Nascimento: @ViewData["Nascimento"]</p>
    }

</section>