@using Microsoft.AspNetCore.Authentication
@using modelo_core_mvc.Errors;
@using Microsoft.Extensions.Configuration
@using SefazLib.usuarios
@using SefazLib.AzureUtils;
@inject IConfiguration Configuration
@inject AzureUtil azureUtil;

@{
    var nomeExibicao = "Não autenticado";
    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];
        if (Configuration["identity:type"] == "azuread")
        {
            try
            {
                Usuario usuario = await azureUtil.GetUserAsync();
                nomeExibicao = usuario.nomeCompleto;
            }
            catch { }
        }
    }
}

<section>
    <h1>Usuário autenticado:</h1>
    @if (Configuration["identity:type"] == "azuread")
    {
        <div>
            @Html.Raw(@ViewData["html"])
        </div>
    }
    else
    {
        <div>
            <h2>@nomeExibicao </h2>
            <p>Login: @ViewData["Login"]</p>
            <p>Cpf: @ViewData["Cpf"]</p>
            <p>Nascimento: @ViewData["Nascimento"]</p>
        </div>
    }

</section>