@using Microsoft.AspNetCore.Authentication
<h1>@ViewData["Message"]</h1>

<section>
    @if (!User.Identity.IsAuthenticated)
    {
        <h2>Usuário não autenticado.</h2>
    }
    else
    {
        <h2>Claims:</h2>
        <dl>
            @foreach (var claim in User.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
                <dd>@claim.Issuer</dd>
            }
        </dl>
        <h2>Propriedades:</h2>
        <dl>
            @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
            {
                <dt>@prop.Key</dt>
                <dd>@prop.Value</dd>
            }
        </dl>
        <dl>
            <dt>BootstrapContext</dt>
            <dd>@User.Identities.First().BootstrapContext</dd>
        </dl>
    }
</section>
