@using modelo_core_mvc.projetos;
@model modelo_core_mvc.projetos.ProjetosModel

<h1>@ViewData["Message"]</h1>

<div>
    <h4>Projeto: @Html.DisplayFor(model => model.nm_projeto)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cd_projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cd_projeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nm_projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nm_projeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ds_projeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ds_projeto)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-sucesso mr-1">
        @Html.ActionLink("Alterar", "Alterar", new { Model.cd_projeto })
    </button>
    <a asp-action="Index" class="btn btn-cancelar mr-1">Voltar</a>
</div>
