@using modelo_core_mvc.projetos;
@model IEnumerable<ProjetosModel>

<h1>@ViewData["Message"]</h1>

<p>
    <a asp-action="Adicionar" class="btn btn-regular mr-1">+ Adicionar Projeto</a>
</p>
<table class="table" summary="Tabela de projetos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.ActionLink("Alterar", "Alterar", new { item.id }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { item.id }) |
                    @Html.ActionLink("Excluir", "Excluir", new { item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
