@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@Html.Hidden("nomeExibicao", @ViewData["Nome"])
@Html.Hidden("mail", @ViewData["Login"])
@Html.Hidden("foto", @ViewData["Foto"])

<h1>@ViewData["Message"]</h1>
<div aria-label="breadcrumb" role="link">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Azure" asp-action="MSGraphDelegated">MSGraph - Delegated</a></li>
    </ol>
</div>

<section>
    <h2>Informações do Graph</h2>
    <ul>
        <li>TenantId: @Configuration["AzureAd:TenantId"]</li>
        <li>ClientId: @Configuration["AzureAd:ClientId"]</li>
        <li>CallApi: @Configuration["CallApi:MicrosoftGraph"]</li>
    </ul>
    <p>______________________________________________</p>
</section>

